<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="https://www.eni-ecole.fr/wp-content/uploads/2022/08/logo_eni.png" alt="logo-eni">
        <span class="separator">//</span>
        <a href="index.html">Documentations</a>
      </div>
    </div>
  </nav>
</header>
